
<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email
      <th>Crypted password
      <th>Salt
    </tr>
  </thead>
  <tbody id="users">
<% @users.each do |user| %>
    <%= render user %>
<% end %>
  </tbody>
</table>

<p><%= link_to "New user...", new_user_path %>
